html {
  font-family: "Calibri Light", 'Calibri', sans-serif;
}

.headbar {
  background-color: #000;
}

.headbar h1 {
  color: white;
}

.headbar h3 {
  color: grey;
}

.topnav {
  background: grey;
}

.topnav ul {
  background: #grey;
  list-style:none;
  /*find way to make inline*/
}

.topnav a {
  color: purple;
}

.catbox {
  text-align: center;
  border-radius: 1px;
  border-style: inset;
  float: right;
}

.catbox h2 {
  letter-spacing: .75px;
  font-size: 1.75rem;
}

.catbox h3 {
  font-size: 1.5rem;
}

.catbox img {

}

.catbox p {

}

.story {

}

.story h1 {

}

.story p {

}

.quote {
  font-style: italic;
}

.quote h1 {
  font-style: normal;
}

.bottom {

}

.bottom div {

}

.contact {

}

.contact a {

}
