html {
  font-family: "Calibri Light", 'Calibri', sans-serif;
}

body {
  height: 100%
}

#container {
  min-height: 100%;
  position: relative;
}

#mainbody {
  padding-bottom: 7.5rem;
}

.headbar {
  background-color: #000;
  line-height: .75rem;
}

.booking {
  float: right;
}

.booking a {
  color: red;
  padding-right: .5rem;
  font-size: 1.25rem;
}

.headbar h1 {
  color: white;
  padding: 5rem 0 0 1.5rem;
  font-size: 2.75rem;
}

.headbar h3 {
  color: silver;
  padding-left: 1.5rem;
  padding-bottom: .5rem;
  font-size: 1.5rem
}

.topnav {
  background: silver;
}

.topnav ul {
  background: #grey;
  list-style:none;
  margin: 0;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  font-size: 1.25rem;
}

.topnav a {
  color: purple;
}

main {
  padding-bottom: 7.5rem;
}

.catbox {
  text-align: center;
  border-radius: 1px;
  border-style: solid;
  float: right;
  padding: .5rem;
  margin: 1rem 1rem;
}

.catbox h2 {
  letter-spacing: .75px;
  font-size: 1.75rem;
}

.catbox h3 {
  font-size: 1.5rem;
}

.catbox img {
  height: 15rem;
  width: 30rem;
  max-width: 80%;
  max-height: 80%;
  padding: 0;
}

.catbox p {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  display: inline-block;
  text-align: left;
  margin: .25rem 1rem .25rem .25rem;
  padding: .25rem;
  font-size: 1rem;
}

.catbox span {
  display: inline-block;
  position: absolute;
  right: 1rem;
  padding: .5rem .5rem 1rem 0;
  margin: 0 .2rem 0 0;
  max-width: 30%;
}

.catbox a {
  display: inline-block;
  color: red;
  padding-left: 1rem;
  font-size: 1.25rem;
}

.story {
  padding-left: 1.5rem;
}

.story h1 {
  padding-top: 1rem;
}

.story p {
 font-size: 1.5rem;
}

.quote {
  padding-left: 1.5rem;
  font-style: italic;
}

.quote p {
  font-size: 1.5rem;
}

.quote h1 {
  font-style: normal;
  padding-top: 1rem;
}

footer {
  position:fixed;
  bottom:0;
  height: 7.5rem;
  width:100%;
}

.bottom {
  background-color: black;
  padding-bottom: .5rem;
}

.bottom p {
  color: white;
}

.bottom div {

}

.contact {
  line-height: .25rem;
  padding-top: .25rem;
  padding-left: 1rem;
}

.contact a {
  color: red;
}

.copyright {
  text-align: center;
  line-height: .25rem;

}
